/* Sekcja z Klassami */
.withoutpoints {
  
list-style-type: none; 

}

.h2{
  color: #4da6ff;
}

.navigation-bar {
  line-height: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 15px;
  background-size: cover;
  display: block;
}

.navandmaincontainer {
  background: url("piasek3.jpg");
  background-size: cover;
}
.nav-link {
  font-size: 20px;
  font-weight: 600;
  
}

.main-container {
  background-size: cover;
  height:400px;
  color: #4da6ff;
}


.glassmorphism {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.85);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.metadata {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.fa {
  font-size: 22px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #4da6ff;
}
.tags span {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  color: #4da6ff;
  border-color: rgba(255, 255, 255, 0.47);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 8px solid rgba(255, 255, 255, 0.3);
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  flex-wrap: nowrap;
  line-height: 6%;
}

.rozeta {
  float: left;
  text-align: center;
  width: 96%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.85);
  border-color: rgba(255, 255, 255, 0.85);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 15px solid rgba(255, 255, 255, 0.3);
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
}
.Education {
  float: left;
  text-align: left;
  width: 46%;
height: 100%;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;
}
.EaL1 {
  text-align: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.85);;;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 15px solid rgba(255, 255, 255, 0.3);
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height:auto;
}
.EaL2 {
  text-align: left;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.85);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 15px solid rgba(255, 255, 255, 0.3);
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  height:auto;
}
.EaL3 {
  text-align: left;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.85);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 15px solid rgba(255, 255, 255, 0.3);
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 15px;
  margin-left: 2%;
  margin-right: 2%;
overflow:hidden
}
.EaL3-1{
  height:auto;
  float: left;
  width: 46%;
  margin-right: 10px;
}
.EaL3-2{
  height:auto;
  float: left;
  width: 46%;
  margin-left: 10px;
}
.ExperienceandCourses{
  height: 1200px;}

  
.Experience {
  float: left;
  text-align: left;
  width: 46%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  border-color: rgba(255, 255, 255, 0.85);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 15px solid rgba(255, 255, 255, 0.3);
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;

height:auto;}
  .Courses{
    height:auto;
    float: left;
    text-align: left;
    width: 46%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
    border-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 15px solid rgba(255, 255, 255, 0.3);
    line-height: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
   
  }
  .Interested{
    height:auto;
    float: left;
    width: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
    border-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 15px solid rgba(255, 255, 255, 0.3);
    line-height: 30px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
    clear:both;
    text-align: justify;
  }
.footer{
  text-align: center
  ;
 
  clear:both
}
  .progress{
    width:auto;

  }

.progress-bar1 {
  background-color:#33adff;
  float: left;
}
.progress-bar2 {
  background-color:#80ccff;
  float: left;
}
.progress-bar3{
  background-color: #b3e0ff;
  float: left;
}
.progress-bar4{
  background-color:#33adff;
  float: left;
}

/* Sekcja z ID*/

#About-me {
  font-family: "Times New Roman", Times, serif;
}

#photo {
  width: 200px;
  border: 10px;
  border-radius: 30px;
  margin-top: 10px;
}

#span1 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span1:hover {
  color: grey;
}

#span2 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span2:hover {
  color: grey;
}

#span3 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span3:hover {
  color: grey;
}

#span4 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span4:hover {
  color: grey;
}
#span5 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span5:hover {
  color: grey;
}
#span6 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span6:hover {
  color: grey;
}
#span7 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span7:hover {
  color: grey;
}
#span8 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span8:hover {
  color: grey;
}
#span9 {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
#span9:hover {
  color: grey;
}




